body {
    width: 100%;
    margin: 0;
    background-color: #101d35;
    color: #f2f1e3;
    font-family: verdana;
    margin-bottom: 4em;;
}

#title {
    margin-top: 1em;
    margin-bottom: 0;
    margin-right: auto;
    margin-left: auto;
    font-family: georgia;
    font-size: 30pt;
    color: #c33a22;
    text-align: center;
}

#vote-image {
    display: block;
    transform: scale(0.3);
    margin-left: auto;
    margin-right: auto;
    margin-top: -10em;
    margin-bottom: -10em;
}

#description {
    text-align: center;
    margin-top: 0.1em;
}

#first-break {
    height: 4px;
    background-color: #fbc20d;
    border-color: #fbc20d;
    width: 80%;
    margin-bottom: 2em;
}

.end-break {
    margin-bottom: 3em;
}

hr {
    height: 2px;
    background-color: #fbc20d;
    border-color: #fbc20d;
    width: 100%;
}

form {
    width: 60%;
    max-width: 800px;
    margin: 0 auto;
    margin-bottom: 1;
    background-color: #3d4558;
    padding-left: 4em;
    padding-right: 4em;
    padding-top: 1em;
    padding-bottom: 3em;
    border-radius: 5px;
    box-shadow: 0 0 5px 0 #3d4558;
}

h2 {
    text-align: left;
    margin-left: auto;
    margin-bottom: 0.5em;
    color: #c33a22;
}

fieldset {
    border: none;
    margin: 0 -0.5em;
}

label {
    display: block;
    margin-bottom: 1em;
    font-size: 1em;
}

input {
    margin: 10px 0 0 0;
    width: 100%;
    border-radius: 3px;
    border: none;
    min-height: 1.5em;
    padding: 0.5em;
    font-size: 1em;
    font-family: verdana;
}

textarea {
    margin: 10px 0 0 0;
    width: 99%;
    border-radius: 3px;
    border: none;
    min-height: 1.5em;
    padding: 0.5em;
    font-size: 1em;
    font-family: verdana;
}

select {
    margin: 10px 0 0 0;
    width: 102%;
    border-radius: 3px;
    border: none;
    min-height: 1.5em;
    padding: 0.5em;
    font-size: 1em;
    font-family: verdana;
}

textarea {
    margin-bottom: 10px;
}

#other {
    width: 40%;
    margin-left: 1em;
}

input[type="checkbox"] {
    transform: scale(1.3)
}

input[type="radio"] {
    transform: scale(1.5)
}

input[type="submit"] {
    background-color: #f2f1e3;
    border-radius: 3px;
    font-size: 1em;
    font-weight: 900;
    color: #c33a22;
    padding: 0.8em;
}

input[type="submit"]:hover {
    background-color: #fbc20d;
    border-radius: 3px;
    font-size: 1em;
    font-weight: 900;
    color: #f2f1e3;
    padding: 0.8em;
}

input[type="submit"]:active {
    background-color: #fbc20d;
    border-radius: 3px;
    font-size: 1em;
    font-weight: 900;
    color: #f2f1e3;
    padding: 0.8em;
}

.inline {
    width: unset;
    margin: 0 0.5em 0.1em 2em;
    vertical-align: middle;
}

legend {
    margin-bottom: 0.2em;
}

footer {
    margin-top: 2em;
    border: none;
    text-align:  center;
    font-family: georgia;    
}

#attribution {
    color: #fbc20d;
}

#attribution:active {
    color: #c33a22;
}

#attribution:visited {
    color: #c33a22;
}

#attribution:hover {
    color: #c33a22;
}